/*
You can have different .card class definitions across different css files to suit each card type,
however you must use the class name ".card" and must include width/height/margin-top/margin-left
Currently only cm units are supported
*/
.card {
	margin-top: 0.1cm; 
	margin-left: 0.1cm; 
	width: 6.1cm; 
	height: 8.8cm;
	
  box-shadow:inset 0px 0px 1px 1px #000;
  position: relative;

  overflow: hidden;
}

.content-container {
	display: flex;
	flex-flow: column nowrap;
	height: 100%;
}

.content {
	display: flex;
	flex: 99 1 auto;
	justify-content: center;
}

.content-fill {
	display: flex;
	flex: 1 0 auto;
}

.half-width-wrapper {
  width:50%;
}

.rotate-right {
  transform: rotate(90deg);
  transform-origin: 0 0 0;
  position: relative;
  left: 100%;
  height: 100px;
  width: 150px;
}

.rotate-left {
  transform: translate(0, 100%) rotate(-90deg) translate(0, 50%);
  transform-origin: 0 50% 0;
  position: relative;
  height: 85px;
  width: 165px;
}

/*
You can customize the printable page for a card template, by default a portrait A4 printable page
is generated, however you could uncomment this example to print on a landscape A4
*/
/** /
@page {
	size: 29.7cm 21cm;
}
/**/