.icon {
	height: 0.3cm;
	width: 0.3cm;
	margin: 0;
}

.medicon {
	height: 0.4cm;
	width: 0.4cm;
	margin: 0;
}

.bigicon {
	height: 1.5cm;
	width: 1.5cm;
	margin: 0;
}

.gain {
	content:url("../assets/images/icons/icon_gain.png");
}

.discard {
	content:url("../assets/images/icons/icon_discard.png");
}

.player {
	content:url("../assets/images/icons/icon_player.png");
}

.player-count {
	content:url("../assets/images/icons/icon_player_count.png");
}
