h2 {
	font-size: 150%;
	padding: 0px;
	margin: 0px;
	border: 0px;
}

h3 {
	font-size: 100%;
	padding: 3px;
	margin: 0px;
	border: 0px;
}

h4 {
	font-size: 75%;
	padding: 3px;
	margin: 0px;
	border: 0px;
}

h6 {
	font-size: 60%;
	padding: 0px;
	margin: 0px;
	border: 0px;
}

h5 {
	font-size: 50%;
	padding: 0px;
	margin: 0px;
	border: 0px;
}

.top-left {
	position: absolute;
	left: 0;
	top: 0;
}

.top-right {
	position: absolute;
	right: 0;
	top: 0;
}