<!DOCTYPE html>
<!-- CarrotGrenadeDataSource=https://docs.google.com/spreadsheets/d/1YEeJaSOIbouFFHhRwe9PrxfuGJGlsIy5zJ2GzvFdQCs/edit#gid=0 -->
<html lang="en">
	<head>
		<link rel="stylesheet" href="./css/card.css" type="text/css">
		<link rel="stylesheet" href="./css/icons.css" type="text/css">
		<link rel="stylesheet" href="./css/text.css" type="text/css">
		<!-- CarrotGrenadeImport=./imports/iconify.rb -->
	</head>
	<body>
		<div class="card">
			<div style="padding-top: 1cm; text-align: center">
				<h2><%= card['Name'] %></h2>
				<h4><%= card['Mode'] %></h4>
				<h4><%= card['Type'] %></h4>
				<h4><%= card['Subtype'] %></h4>
			</div>
			<div style="text-align: center">
				<h4><i><%= card['Description'] %></i></h4>
			</div>
			<div style="text-align: center">
				<h3><%= card['Special'] %></h3>
			</div>
			<% if card['Type'] == "Mutation" %>
				<div style="text-align: center">
					<p/>
					<h4>STINKY <%= card['Stinky'] %></h4>
					<p/>
					<h4>SLIMEY <%= card['Slimey'] %></h4>
					<p/>
					<h4>SPIKEY <%= card['Spikey'] %></h4>
				</div>
				<% if card['JoinUp'] %>
					<div style="position: absolute; left: 34%; top: 0">
						<h2 style="white-space: pre">|   |   |   |</h2>
					</div>
				<% end %>
				<% if card['JoinDown'] %>
					<div style="position: absolute; left: 34%; bottom: 0">
						<h2 style="white-space: pre">|   |   |   |</h2>
					</div>
				<% end %>
				<% if card['JoinUpLeft'] %>
					<div style="position: absolute; left: 0; top: 0">
						<h2>_</h2>
						<h2>_</h2>
						<h2>_</h2>
						<h2>_</h2>
					</div>
				<% end %>
				<% if card['JoinDownLeft'] %>
					<div style="position: absolute; left: 0; bottom: 0">
						<h2>_</h2>
						<h2>_</h2>
						<h2>_</h2>
						<h2>_</h2>
						<h2 style="white-space: pre"> </h2>
					</div>
				<% end %>
				<% if card['JoinUpRight'] %>
					<div style="position: absolute; right: 0; top: 0">
						<h2>_</h2>
						<h2>_</h2>
						<h2>_</h2>
						<h2>_</h2>
					</div>
				<% end %>
				<% if card['JoinDownRight'] %>
					<div style="position: absolute; right: 0; bottom: 0">
						<h2>_</h2>
						<h2>_</h2>
						<h2>_</h2>
						<h2>_</h2>
						<h2 style="white-space: pre"> </h2>
					</div>
				<% end %>
			<% end %>
		</div>
	</body>
</html>
